.sub-event{
    border-style: solid;
    border: 1px;
    width: 50vh;
    height: 50vh;
}
.event-name{
    text-align: center;
}

.sub-event-head-img{
    margin-right: 20vh;
}
.sub-event-head{
    padding-left: 15vh;
    text-align: center;
}
.sub-event-description{
    background-color: black;
    opacity: 0.7;
    color: azure;
    width: 80vh;
    margin-top: 5vh
}
.sub-event-description-button{
    background-color: #D79600;
    color: black;
    width: 40vh;
    height: 5vh;
    padding-left: 2vh;
    border-radius: 10px;
    display: inline;
    text-align: center;
}
.sub-event-description-button:hover{
    background-color: green;
    text-underline-position: none;
}
.sub-event-description-button:focus{
    background-color: green;
    text-underline-position: none;
}
@media (max-width: 960px){
    .sub-event-description-button{
    }
    .main-event{
        margin-right: 15vh;
    }
    .sub-event-head-img{
        width: 100px;
        height: 100px;
    }
    .mbile-sub-event-img{
        margin-left: 25vh;
    }
    .event-image{
        text-align: center;
    }
}
@media (min-width: 960px) {
    .mbile{
        display: none;
    }
    .event-image{
        text-align: center;
    }
    .main-event{
        margin-right: 10vw;
    }
}