
.content{
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 1px;
}
.tabcontent{
    display: none;
}
@media screen and (min-width: 1024px){
    .mobile{
        display: none;
    }
    .side-navbar{
        width: 15%;
        height: 100%;
        background-color: #30415D;
        display: inline-block;
        margin-right: 1px;
        margin-left: 1px;
        padding: 4px;
        position: relative;
        float: left;
    }
    .main{
        width: 83%;
        height: 100%;
        background-color: #8EADBD;
        display: inline-block;
        position: relative;
    }
    .side-navbar-user-image img{
        border-radius: 100%;
        width: 80%;
        height: auto;
    }
    .side-navbar-user-image{
        margin-top: 10%;
        margin-left: 20%;
        margin-bottom: 10%;
    }
    .side-navbar-name{
        margin-left: 10%;
    }
    .side-navbar-name h1{
        font-size: 250%;
    }
    .side-navbar-menu{
        text-align: left;
        font-size: 110%;
        margin-left: 25%;
    }
    .side-navbar-menu a{
        color: black;
    }
    .side-navbar-menu br{
        margin-bottom: 5%;
    }
    .side-navbar-menu a:hover{
        color: white;
        text-decoration: none;
    }
    .main-pageselector{
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
    }
    .tablink{
        background-color: #30415D;
        color: black;
        float: left;
        border: none;
        outline: none !important;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
    }
    .tablink:hover{
        background-color: #031424;
        color: azure;
    }
    .tabcontent {
        color: white;
        padding: 100px 20px;
        height: 100%;
      }
      .tab-ovf{
          overflow-wrap: break-word;
      }
      
      #Home {background-color: #8EADBD;}
      #News {background-color: #8EADBD;}
      #Contact {background-color: #8EADBD;}
      #About {background-color: #8EADBD;}
}
@media screen and (max-width: 1024px){
    .dsktop{
        display: none;
    }
    .head-navbar{
        width: 100%;
        display: block;
        min-height: 10%;
        background-color: #031424;
        font-size: 200%;
    }
    .head-navbar a{
        color: #30415D;
        text-decoration: none;
        margin-left: 5%;
    }
    .head-navbar a:hover{
        color: #8EAEBD;
    }
    .main-content-mobile{
        width: 100%;
        height: 90%;
        background-color: #30415D;
    }
    .main-content-mobile-menu {
        height: 100%;
        width: 0;
        position: fixed; 
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111; 
        overflow-x: hidden; 
        padding-top: 60px; 
        transition: 0.5s; 
    }
    .main-content-mobile-menu img{
        border-radius: 100%;
        margin-left: 20%;
    }
    /* The navigation menu links */
    .main-content-mobile-menu a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 100%;
        color: #818181;
        display: block;
        transition: 0.3s;
        margin-left: 20%;
    }
    
    /* When you mouse over the navigation links, change their color */
    .main-content-mobile-menu a:hover {
        color: #f1f1f1;
    }
    
    /* Position and style the close button (top right corner) */
    .main-content-mobile-menu .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
    .tablink{
        background-color: grey;
        color: black;
        float: left;
        border: none;
        outline: none !important;
        cursor: pointer;
        padding: 14px 16px;
        font-size: 17px;
        width: 25%;
    }
    .tabcontent {
        color: white;
        padding: 100px 20px;
        height: 100%;
      }
}
