.side-navbar{
    width: 20%;
    min-width: 15vh;
    height: 100vh;
    background-color: black;
    z-index: 1;
    float: left;
}
.frame-navbar{
    background-color: crimson;
    height: 8%;
    min-height: 10vh;
}