.side-navbar{
    width: 15vw;
    height: 80vh;
    background-color: darkblue;
    opacity: 0.75;
    position: relative;
    display: inline-block;
    margin: none;
}
.main{
    width: 84vw;
    height: 80vh;
    background-color: green;
    position: relative;
    display: inline-block;

}